################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/BassNet/x64/Debug
*.user
/SampleServer/System.log
/SampleServer/System.15996753266640927
/SampleServer/System.15996752835942483
/SampleServer/System.15995879584026568
/SampleServer
